# build
dist/
.astro/

# deps
node_modules/

# env
.env
.env.*
!.env.example

# logs
*.log

# os
.DS_Store

# editor
.vscode/
.idea/

# terraform
infra/**/.terraform/
infra/**/*.tfstate
infra/**/*.tfstate.*
infra/**/*.tfvars
!infra/**/*.tfvars.example
